
@font-face {
/* font-test*/
    font-family: katong;
    src:url('../font/katong.ttf');
}
@font-face{
    font-family:katong-en;
    src: url('../font/comic.ttf');
}
.hatsheet{
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    z-index:3000;
    height:auto;
    width:auto;
    margin-left: 5%;
    margin-right: 5%;
    font-family: katong-en,Arial,katong;
}


.itemBox{
    background-color: rgb(224,208,192);
    width:100%;
    margin-bottom: 20px;
    border-radius: 48px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    border-width: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    font-size: 24px;
    width: 100%;
}
#Btn{
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-left:1%;
    width:16%;
    right:0%;
}

#info{
    width:65%;
}
#userBox{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}